header {
  background-color: #7ce3f5; /* Цвет фона заголовка */
  padding: 1rem; /* Отступы внутри заголовка */
  display: flex; /* Используем Flexbox */
  justify-content: center; /* Центрируем содержимое по горизонтали */
}

/* Стили для ссылок навигации */
nav a {
  margin: 0 1rem; /* Отступы по бокам для ссылок */
}

/* Стили для основного контента */
main {
  padding: 2rem; /* Отступы внутри основного контента */
}
