/* Стили для заголовка */
header {
  background-color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  border: 5px solid #1e90ff;
  border-radius: 10px;
}

/* Стили для навигационных ссылок */
nav a {
  margin: 0 1rem;
}

/* Стили для основного контента приложения */
main {
  padding: 2rem;
}

/* Стили для кнопок навигации */
.view-router-button {
  display: inline-block;
  margin: 10px;
  padding: 0;
}

/* Стили для кнопок внутри навигации */
.view-router-button button {
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 25px;
  border-radius: 4px;
  width: 100%;
  margin: 0;
}

/* Эффект при наведении на кнопку */
.view-router-button button:hover {
  background-color: #187bcd;
}
