/* Стили для кнопок */
button {
  margin-left: 10px;
  background-color: #ff6961;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Эффект при наведении на кнопку */
button:hover {
  background-color: #ff5c5c;
}
