/* Стили для названия товара */
.product-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Стили для блока изображения товара */
.block-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Стили для изображения товара */
.product-image {
  width: 800px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Стили для таблицы характеристик товара */
.spec-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

/* Стили для ячеек таблицы характеристик */
.spec-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Стили для первой ячейки в строке таблицы */
.spec-table td:first-child {
  font-weight: bold;
  background-color: #f9f9f9;
}

/* Стили для кнопок */
button {
  margin-top: 20px;
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

/* Эффект при наведении на кнопку */
button:hover {
  background-color: #187bcd;
}
